/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   

}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
   

}

html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    /* margin: 0 auto; */
    overflow-x: hidden;
}

/* nav section css */

nav {
    position: fixed;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0px 2px 6px #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow-x: hidden;

}

nav .nvlogo img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin-left: 25px;
    position: relative;
    animation: slideleft 1.3s linear;
}

/*Nav Animations */

@keyframes slideleft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



nav ul {
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    position: relative;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    animation: slideright 1.3s linear;
}

nav ul li a:hover{
    color: #f00;
    transition: .3s linear;
}
/*Nav Animations */

@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
} 


nav ul li a::after {
    content: '';
    background-color: red;
    position: absolute;
    left: 0;
    width: 0%;
    height: 3px;
    bottom: -1px;

}

nav ul li a,
.active::after {
    width: 100%;
}

nav ul li a:hover::after {
    width: 100%;
    color: #f00;
    transition: .3s linear;
}

.navbtn {
    background-color: #72BF78;
    color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
    /* position: relative; */
    animation: slideright 1.3s ease-in;

}

/*Nav Animations */

@keyframes slideright {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
} 


.navbtn:hover {
    background-color: #A0D683;
    color: #f00;
    transition: .5s;
}


.icon{
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
    cursor: pointer;
    display: none;
}
/* nav section css End */


/* Hero section start */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;

}

.hero-section .hero-text {
    margin: 0 25px;
    position: relative;
    animation: hero-text 1.3s ease-in;
}

/*Hero Animations */

@keyframes hero-text {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.hero-section .hero-text h1 {
    color: #000;
    font-size: 50px;
    font-weight: 900;

}

.hero-section .hero-text h1 span {
    color: rgb(224, 11, 11);
}


.hero-section .hero-text p {
    color: #000;
    font-size: 18px;
    margin-top: 15px;
}

.hero-section .hero-text .navbtn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
}


.hero-section .heroimg img {

    width: 80%;
    border-radius: 10px;
    margin-right: 25px;
    position: relative;
    animation: hero 1.3s ease-in;
    /* animation: hero .8s linear 1s infinite alternate; */
}


/*Hero Animation */

@keyframes hero {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Hero section End */



/* About-section start */

.about-sec {
    padding: 80px 0;
}

.about-sec .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-sec .about-img-sec img {
    width: 87%;
  animation-name: imgslide;
  animation-range-start: 0 cover 50%;
  animation-timeline: view();
}

@keyframes imgslide {
    0%{
        opacity: 0;
        scale: 0.2;
    }
    100%{
        opacity: 1;
        scale: 1.06;
    }
}

.about-sec .about-me .about-text{
    animation-name: textslide;
    animation-range-start: 0 cover 50%;
    animation-timeline: view();
}

/* .about-sec .about-me .about-text */

@keyframes textslide {
    0%{
        opacity: 0;
        scale: 0.5;
        /* transform: translateX(100px); */
    }
    100%{
        opacity: 1;
        scale: 1;
        /* transform: translateX(0); */
    }
}


.about-sec .about-me .about-text h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;

}

.about-sec .about-me .about-text h1 span {
    color: red;
}

.about-text .para1 {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
}

.about-text .para2 {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
}


.about-sec .about-me .about-text .navbtn {
    width: 200px;
    height: 40px;
    margin-top: 25px;
}

/* About-section End */



/* Course Section start */

.course-sec {
    padding: 100px 0px;

}

.course-sec .course-text h1 {
    color: #000;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.course-sec .course-text h1 span {
    color: rgb(224, 11, 11);
}

.course {
    margin-top: 40px;
}

.course .course-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.course .course-card .card {
    width: 250px;
    height: 280px;
    border: 2px solid red;
    box-shadow: 2px 3px 6px #000;
    border-radius: 5px;
    background-color: rgb(252, 250, 248);
    margin: 12px ;
    animation-name: scrollslide;
    animation-timeline: view();
    animation-range-start: 0% cover 40%;

}

/* Animation card */

@keyframes  scrollslide{
    0%{
        transform: translateY(100px);
        opacity: 0;
        scale: .5;
    }
    100%{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

.course .course-card .card:hover {
    transform: scale(1.05);
    transition: 1.3s;
}

.course .course-card .card .crd-text {
    text-align: center;
}

.course .course-card .card h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;

}

.course .course-card .card p {
    font-size: 16px;
    margin-top: 10px;
}

.course .course-card .card .navbtn {
    margin: 20px auto;
    width: 180px;
    height: 40px;
}

/* Course Section End */


/* Gallery section start */

.review-sec{
    padding: 100px 0;
}
.review-sec .review-text h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;

}

.review-sec .review-text h1 span{
    color: #f00;
}

.review-card {
    display: flex;
    justify-content: flex-end;
   
   
}


.review-card .gcard{
    width: 180px;
    height: 150px;
    box-shadow: 2px 3px 8px #000;
    border-radius: 10px;
    margin: 15px ;
    left: 100%;
    position: relative;
    overflow: hidden;
    animation-name: scorllleft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.review-card .card{
    width: 180px;
    height: 150px;
    box-shadow: 2px 3px 8px #000;
    border-radius: 10px;
    margin: 15px ;
    right:100%;
    position: relative;
    overflow: hidden;
    animation-name: scorllright;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#gcard1{
    animation-delay: calc(15/8*(8-1)*-1);
}
#gcard2{
    animation-delay: calc(30/8*(8-2)*-1);
}
#gcard3{
    animation-delay: calc(30/8*(8-3)*-1);
}
#gcard4{
    animation-delay: calc(30/8*(8-4)*-1);
}
#gcard5{
    animation-delay: calc(30/8*(8-5)*-1);
}
#gcard6{
    animation-delay: calc(30/8*(8-6)*-1);
}
#gcard7{
    animation-delay: calc(30/8*(8-7)*-1);
}
#gcard8{
    animation-delay: calc(30/8*(8-8)*-1);
}

@keyframes scorllleft {
    
    to{
        left: -100%;
    }
}


/* card */

    #gcard9{
        animation-delay: calc(30/8*(8-1)*-1);
    }
    #gcard10{
        animation-delay: calc(30/8*(8-2)*-1);
    }
    #gcard11{
        animation-delay: calc(30/8*(8-3)*-1);
    }
    #gcard12{
        animation-delay: calc(30/8*(8-4)*-1);
    }
    #gcard13{
        animation-delay: calc(30/8*(8-5)*-1);
    }
    #gcard14{
        animation-delay: calc(30/8*(8-6)*-1);
    }
    #gcard115{
        animation-delay: calc(30/8*(8-7)*-1);
    }
    #gcard116{
        animation-delay: calc(30/8*(8-8)*-1);
    }

@keyframes scorllright {
    
    to{
        right:-100%;
    }
}



.review-card .gcard img{
    width: 100%;
}
.review-card .card img{
    width: 100%;
}
/* Gallery section end */

/* contact-section */

.contact-sec{
    padding: 100px 0;
}
.contact-text{
    text-align: center;
}

.contact-text h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.contact-text h1 span{
    color: #f00;
}



/* form-section start */

.form-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

}

.form-section form{

    background-color: #FEFAE0;
    box-shadow: 2px 4px 8px #5b5151;
    width: 45%;
    height: 400px;
}
.form-section form label{
    font-size: 16px;
    padding: 0 10px;
}
.form-section form input{
    width: 90%;
    font-size: 16px;
    height: 30px;
    padding: 0 10px;
    border: none;
    outline: none;
   margin: 10px 10px;
}

.form-section form textarea{
    margin: 10px;
    width: 90%;
    font-size: 16px;
    padding: 5px 10px;
}

.form-section form .send{
   display:flex;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 400;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:#72BF78;
}
.form-section form .send:hover{
    background-color: #A0D683;
    color: #f00;
}

.form-section iframe{
    width: 50%;
    height: 400px;
}
/* form-section End */

/* Footer-sec */

footer{
  padding: 40px 0;
  width: 100%;
  background-color: #5b5151;
  color: #FEFAE0;
}

footer .footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-sec span{
    color: #f00;
}

footer .footer-sec a{
    color: #FEFAE0;
}